#statistics-container {
    padding: 20px;
}
#statistics-container .statistics-form {
    margin-bottom: 40px;
}

#statistics-container .flex-box {
  display: flex;
  justify-content: space-between;
}

#statistics-container .statistics-chart {
    width: 400px;
    height: 500px;
}
